{
 "id": "ajec5vse1xxx3tvpbol8",
   "service_account_id": "[xyzxyzxyzxyzxyzxyz]",
   "created_at": "2021-10-03T14:58:12.484520382Z",
   "key_algorithm": "RSA_2048",
   "public_key": "-----BEGIN PUBLIC KEY-----\nxyz\n-----END PUBLIC KEY-----\n",
   "private_key": "-----BEGIN PRIVATE KEY-----\nnxyz\n-----END PRIVATE KEY-----\n"}
